<section class="upload-done view">

    <div class="modal" ng-class="{visible: qrCodeData}">
        <div class="diffuser"></div>
        <div class="content">
            <div class="qr-code-modal">
                <center>
                    <h5>{{qrCodeType}}</h5>
                    <qrcode data="{{qrCodeData}}" size="200"></qrcode>
                    <br />
                    <a class="button" ng-click="hideQrCode()">Overview</a>
                </center>
            </div>
        </div>
    </div>

    <div class="content row">
        <div class="twelve columns">
            <h4>Your Upload is Ready</h4>
        </div>
    </div>

    <div class="content row" ng-if="file">


        <div class="twelve columns">
            <table class="urls u-full-width">
                <tbody>
                <tr>
                    <td>Thinbin URL</td>
                    <td><strong><a href="{{file.viewFileUrl}}" target="_blank">{{file.viewFileUrl}}</a></strong></td>
                    <td class="button-cell">
                        <a class="qr button" clip-copy="viewUrl">copy</a>
                        <a class="copy button" ng-click="showQrCode('Thinbin Url', file.viewFileUrl)">qr </a>
                    </td>
                </tr>
                <tr>
                    <td>Download URL</td>
                    <td><strong><a href="{{file.downloadFileUrl}}" target="_blank">{{file.downloadFileUrl}}</a></strong></td>
                    <td class="button-cell">
                        <a class="qr button" clip-copy="downloadUrl">copy</a>
                        <a class="copy button" ng-click="showQrCode('Download Url', file.downloadFileUrl)">qr </a>
                    </td>
                </tr>
                <tr>
                    <td>Upload Expires</td>
                    <td><strong>{{file.expiresAt}}</strong></td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            <a class="button button-primary u-pull-right primary" href="#/start">New Upload</a></td>

        </div>
    </div>

</section>